In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("pandas_expanded.ipynb")

# Food Safety (Continued)

In which explore more cleaning and Exploring Data with Pandas.

## This Assignment

In this assignment, we will continue our exploration of restaurant food safety
scores for restaurants in San Francisco. The main goal for this assignment is
to focus more on the analysis of the dataset, building on the data cleaning we
have done in the previous notebook.


After this assignment, you should be comfortable with:
* Reading `pandas` documentation and using `pandas` methods,
* Working with data at different levels of granularity,
* Using `groupby` with different aggregation functions,
* Chaining different `pandas` functions and methods to find answers to exploratory questions.


## Score Breakdown 
Question | Manual | Points
--- | --- | ---
1a | no | 2
1b | no | 3
2a | no | 2
2b | no | 3
2c | no | 1
2d | no | 1
3a | no | 1
3b | no | 2
3c | yes | 3
3e | yes | 3
4 | no | 3
Total | 2 | 24

## Before You Start

For each question in the assignment, please write down your answer in the
answer cell(s) right below the question. 

**Important note: The local autograder tests will not be comprehensive. You can
pass the automated tests in your notebook but still fail tests in the
autograder.** Please be sure to check your results carefully.

Unless we state otherwise, **do not use for loops or list comprehensions**. The
majority of this assignment can be done using built-in commands in `pandas` and
`NumPy`.  You're depriving yourself of key learning objectives if you write
loops / comprehensions.

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('mode.copy_on_write', True)

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

In the previous notebook, we took you through the entire process of reading
data from a file to perform some exploration of the data. Here, we again load
the dataset that we will be using along with some of the columns we
had added in the previous notebook. For any additional context regarding the
dataset, feel free to revisit the previous notebook.

In [ ]:
bus = pd.read_csv('data/bus.csv', encoding='ISO-8859-1').rename(columns={"business id column": "bid"})
bus['postal5'] = bus['postal_code'].str[:5]
ins = pd.read_csv('data/ins.csv')
ins['timestamp'] = pd.to_datetime(ins['date'], format='%m/%d/%Y %I:%M:%S %p')
ins['bid'] = ins['iid'].str.split("_", expand=True)[0].astype(int) 

# This code is essential for the autograder to function properly. Do not edit.
ins_test = ins

<br/><br/>

---


# Question 1: Inspecting the Inspections


## Question 1a

Let's start by looking again at the first 5 rows of `ins` to see what we're working with.

In [ ]:
ins.head(5)

To better understand how the scores have been allocated, examine how the maximum score varies for each type of inspection. Create a `DataFrame` object `ins_score_by_type`, indexed by all the inspection types (e.g., New Construction, Routine - Unscheduled, etc.), with a single column named `max_score` containing the highest score received. You may find the `.rename()` method useful here!

In [ ]:
ins_score_by_type = ...
# Show the result
ins_score_by_type

In [ ]:
grader.check("q1a")

<br/>

---

## Question 1b

Given the variability of `ins['score']` observed in 1.a, let's examine the inspection scores `ins['score']` further.

In [ ]:
ins['score'].value_counts().head()

There are a large number of inspections with a `score` of `-1`. These are probably missing values. Let's see what types of inspections have scores and which do not (score of -1).  We have defined for you a new column `'Missing Score'` that shows `True` if the score for that business is `-1` to help you out with the analysis. 

Use `.groupby` to find out the number of scores that every combination of `type` and `Missing Score` can take on. The result should be a **`DataFrame`** that should look **exactly** as shown below:

<center> <img src="pics/1b.png" width="400"/>

In [ ]:
ins['Missing Score'] = (ins['score'] == -1).astype("str")
ins_missing_score_group = ...
# Show the result
ins_missing_score_group

In [ ]:
grader.check("q1b")

---

# Question 2: Joining Data Across Tables

In this question, we will start to connect data across multiple tables. We will be using the `merge` function.

<br/>

--- 

## Question 2a

Let's figure out which restaurants had the lowest scores. Before we proceed,
let's filter out missing scores from `ins` so that negative scores don't
influence our results.

Note that there might be something interesting we could learn from businesses
with missing scores, but we are omitting such analysis from this assignment. You
might consider exploring this for the optional question at the end.

Note: We have no idea if there is actually anything interesting to learn as we
have not attempted this ourselves.

In [ ]:
# Run this cell.
ins_pos = ins[ins["score"] > 0]
ins_pos.head()

We'll start by creating a new `DataFrame` called `ins_named`. It should be
exactly the same as `ins_pos`, except that it should have the name and address
of every business, as determined by the `bus` DataFrame.

**Hint**: Use the `merge` method to join the `ins_pos` DataFrame with the
appropriate portion of the `bus` DataFrame. See the [textbook page on
merge](https://lisds.github.io/textbook/useful-pandas/merge.html) and the
official
[documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
on how to use `merge`. The first few rows of the resulting `DataFrame` you
create are shown below:

<img src="pics/2a.png" width="1080"/>

In [ ]:
# To remind you about the bus data frame.
bus.head()

In [ ]:
...
ins_named = ins_pos.merge(...)
# Show the result
ins_named.head()

In [ ]:
grader.check("q2a")

<br/>

--- 

## Question 2b

Let's look at the 20 businesses in `ins_named` with the lowest **median** score. Order your results by the median score followed by the business name to break ties. The resulting table should look like the table below.

This one is pretty challenging! Don't forget to rename the `score` column. 

**Hint**: The `agg` function can accept a dictionary as an input. See the [agg documentation](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.core.groupby.DataFrameGroupBy.agg.html). Additionally, when thinking about what aggregation functions to use, ask yourself what value would be in the `"name"` column for each entry across the group? Can we select just one of these values to represent the whole group?

As usual, **YOU SHOULD NOT USE LOOPS OR LIST COMPREHENSIONS**. Try and break down the problem piece by piece instead, gradually chaining together different `pandas` functions. Feel free to use more than one line!

<table border="1" class="dataframe">  <thead>    
    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>median score</th>    </tr> 
    <tr  align="right">  <th align="right">bid</th>      <th></th>      <th></th>    </tr> </thead>  <tbody>    
    <tr  align="right">      <th>84590</th>      <td>Chaat Corner</td>      <td>54.0</td>    </tr>    
    <tr  align="right">        <th>90622</th>      <td>Taqueria Lolita</td>      <td>57.0</td>    </tr>    
    <tr  align="right">         <th>94351</th>      <td>VBowls LLC</td>      <td>58.0</td>    </tr>    
    <tr  align="right">          <th>69282</th>      <td>New Jumbo Seafood Restaurant</td>      <td>60.5</td>    </tr>    
    <tr  align="right">         <th>1154</th>      <td>SUNFLOWER RESTAURANT</td>      <td>63.5</td>    </tr>  
    <tr  align="right">          <th>93150</th>      <td>Chez Beesen</td>      <td>64.0</td>    </tr>   
    <tr  align="right">     <th>39776</th>      <td>Duc Loi Supermarket</td>      <td>64.0</td>    </tr>  
    <tr  align="right">         <th>78328</th>      <td>Golden Wok</td>      <td>64.0</td>    </tr>  
    <tr  align="right">          <th>69397</th>      <td>Minna SF Group LLC</td>      <td>64.0</td>    </tr>     
    <tr  align="right">        <th>93502</th>      <td>Smoky Man</td>      <td>64.0</td>    </tr>    
    <tr  align="right">           <th>98995</th>      <td>Vallarta's Taco Bar</td>      <td>64.0</td>    </tr>    
    <tr  align="right">         <th>10877</th>      <td>CHINA FIRST INC.</td>      <td>64.5</td>    </tr>    
    <tr  align="right">        <th>71310</th>      <td>Golden King Vietnamese Restaurant</td>      <td>64.5</td>    </tr>     
    <tr  align="right">          <th>89070</th>      <td>Lafayette Coffee Shop</td>      <td>64.5</td>    </tr>
    <tr  align="right">          <th>71008</th>      <td>House of Pancakes</td>      <td>65.0</td>    </tr> 
    <tr  align="right">         <th>2542</th>      <td>PETER D'S RESTAURANT</td>      <td>65.0</td>    </tr>           
    <tr  align="right">        <th>3862</th>      <td>IMPERIAL GARDEN SEAFOOD RESTAURANT</td>      <td>66.0</td>    </tr>   
    <tr  align="right">         <th>61427</th>      <td>Nick's Foods</td>      <td>66.0</td>    </tr>    
    <tr  align="right">          <th>72176</th>      <td>Wolfes Lunch</td>      <td>66.0</td>    </tr>    
    <tr  align="right">        <th>89141</th>      <td>Cha Cha Cha on Mission</td>      <td>66.5</td>    </tr>  </tbody></table>

In [ ]:
twenty_lowest_scoring = ...
                        ...
#- DO NOT USE LIST COMPREHENSIONS OR LOOPS OF ANY KIND!!!
...
# Show the result
twenty_lowest_scoring

In [ ]:
grader.check("q2b")

<br/>

---

## Question 2c

Let's figure out which restaurant had the worst score ever (single lowest
score).

In the cell below, assign `worst_restaurant` to the name of the restaurant with
the **lowest inspection score ever**. We should not be considering restaurants
with missing scores, so this should not be a restaurant that has a score of
`-1`. For fun: Look up the reviews for this restaurant on Yelp. Do you see any
reviews that indicate this restaurant had health inspection issues?

In [ ]:
worst_restaurant = ...
# Show the result
worst_restaurant

In [ ]:
grader.check("q2c")

<br/>

---

## Question 2d

Did this restaurant clean up its act? Look in the database to see if it scored better on its next inspection. Assign `cleaned_up` to `True` or `False`, depending on whether it performed better or not.

In [ ]:
#- SCRATCH WORK

In [ ]:
cleaned_up = ...

In [ ]:
grader.check("q2d")

<br/><br/>

---
# Question 3: I Scream, You Scream 

Now that you've analyzed and found out which restaurants to avoid in SF, we can turn toward the more interesting question of what dessert places are the best! For the purposes of this question, we assume that ice cream is the best dessert (and rightfully so!)

<br/>

--- 
## Question 3a

In your quest to find the best ice cream shop, the first step is to find all the businesses in `ins_named` that **contain the word 'ice cream'** in their `name`, and assign the resulting `DataFrame` to `ice_cream_shops`. To help you out, we created the `lowercase_name` column so you do not need to worry about checking for capitalized letters when checking if `name` contains 'ice cream'.

**Hint:** You might find the `.str` accessors useful yet again!

In [ ]:
ins_named['lowercase_name'] = ins_named['name'].str.lower()
ice_cream_shops = ...
# Show the first 10 rows.
ice_cream_shops.head(10)

In [ ]:
grader.check("q3a")

<br/>

---

## Question 3b

Assign to `ice_cream_at_least_3` a `DataFrame` consisting of only those ice
cream shops that have had at least 3 inspections. Remember, the `bid` uniquely
defines an ice cream shop at a particular location, not its `name`!

Here we want a data frame that has all inspections for all ice cream shows with
3 or more inspections.

**Hint** - you might find `.filter` useful here.  We did!

In [ ]:
ice_cream_at_least_3 = ...
# Show the first five rows.
ice_cream_at_least_3.head()

In [ ]:
grader.check("q3b")



<br/>

---

## Question 3c

In the cell below, run the following line of code: `q3c_df = ice_cream_shops.sort_values('timestamp').groupby('bid').agg('first')`

Is the granularity of `ice_cream_at_least_3` the same as the granularity of `q3c_df`? In other words, what does a single row of `q3c_df` represent, and what does a single row in ice_cream_at_least_3 represent? Explain the granularity of each `DataFrame`. Your answer does not need to be more than 2-3 lines, but you should be specific.

In [ ]:
q3c_df = ice_cream_shops.sort_values('timestamp').groupby('bid').agg('first')
q3c_df.head()

_Type your answer here, replacing this text._



<br/>




<br/>

---

## Question 3e

Finally, to examine different parts of a chained pandas statement, describe the purpose of each of the functions used (`.loc`, `.groupby`, `idxmax()`) in words. 

Secondly, share what you think this line of code accomplishes. In other words, write a question that could be answered using this statement.

While the first part of this question will be graded for correctness, the second part of this question is a bit more open-ended. Answers demonstrating your understanding will get full credit.

In [ ]:
ice_cream_at_least_3.loc[ice_cream_at_least_3.groupby("bid")["score"].idxmax()].head()

_Type your answer here, replacing this text._

In [ ]:
# You may do some scratch work in this cell, however, only your written answer will be graded. 
# Any outputs or dataframes you generate here will not be counted as part of your explanation.



<br/><br/>

---

# Question 4: Restaurant Ratings Over Time

As a final challenge, we consider a scenario involving restaurants with multiple ratings over time.

Let's see which restaurant location has had the most extreme improvement in its scores. Let the "swing" of a restaurant location be defined as the difference between its highest-ever and lowest-ever score. **Only consider restaurant locations with at least 3 scores—that is, restaurants that were rated at least 3 times.** Assign `max_swing` to the name of the restaurant that has the maximum swing. 

We have not provided any skeleton, as there are many paths to getting the correct answer. The recommended approach to solving this problem is to break it down into smaller chunks (e.g., first, ensure all restaurants have at least 3 scores; second, compute ... ). This will likely require more than one line, so feel free to add/remove columns and define new temporary variables. Remember to assign your solution - a string containing the `name` of the restaurant location that experienced the most extreme improvement - to `max_swing` after you do so. 

**Note**: The "swing" is of a specific restaurant location. There might be some restaurants with multiple locations; we are focusing on the swing of a particular restaurant as specified by its `name` and `address`.

In [ ]:
...
max_swing = ...
# Show the result
max_swing

In [ ]:
grader.check("q4")

## Summary of Inspections Data

We have done a lot in this assignment!

- Broke down the inspection scores in detail using `.groupby` and `.pivot_table`,
- Joined the business and inspection data and identified the name of the restaurant with the worst rating,
- Took a deep dive into the sweet world of ice cream and found the best spots under varying metrics,
- Took a swing at analyzing how restaurant inspection scores change over time!

Over the course of this 2-part assignment, we hope you have become more familiar
with `pandas` - in terms of identifying when to use particular functions, how
they work, when they can support exploratory data analysis (EDA) - as well as
about EDA and Data Cleaning, as part of the broader Data Science Lifecycle.
These tools will serve you well as a data scientist!

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Congratulations! You have finished this notebook! ##

Make sure you have run all cells in your notebook in order before running the
cell below, so you can check your answers.

In [ ]:
grader.check_all()